<div class="container d-flex h-100">
  <div class="row align-self-center  justify-content-center w-100 ">
      <div class="col col-4 mx-auto border rounded-top border-light bg-light">
          <form >
              <div class="text-center">
                  <span><h2>MENU</h2></span>
              </div>

              <div class="form-group">
                  <label for="starter">Entrée</label>
                  <input [(ngModel)]="starter" name="starter" class="form-control" placeholder="ingredients.type" >
              </div>

              <div class="form-group">
                  <label for="mainCourse">Plat</label>
                  <input [(ngModel)]="mainCourse" name="mainCourse" class="form-control">
                 
              </div>
              <div class="form-group">
                <label for="accompaniment">Accompagnement</label>
                <input [(ngModel)]="accompaniment" name="accompaniment" class="form-control" >
                
              </div>

              <div class="form-group">
                <label for="Dessert">Dessert</label>
                <input [(ngModel)]="dessert" name="dessert" class="form-control">             
              </div>

              <div class="form-group text-center">
                  <button type="submit" (click)="regenerateMenu()" class="btn green darken-1 white-text">Générer un nouveau menu</button>                                  
              </div>
          </form>
         
      </div>
     

  </div>

</div>