/* You can add global styles to this file, and also import other style files */
/* Feuille de style directement embarquée par l'appli, pas besoin de la déclarer dans le component.ts, utilisée par défaut*/


h1{
    font-size: 70px;
    font-family: Times, Helvetica, sans-serif;
    color:red;
}
body{
    background-image: url('./assets/foodstorm-background.jpg');
}
body, html{
    height: 100%;
}