<div class="container d-flex h-100">
  <div class="row align-self-center  justify-content-center w-100 ">
    <div class="col col-4 mx-auto border rounded-top border-light bg-light">
      <form>
        <div class="text-center">
          <span>Bienvenue sur FoodStorm</span>
        </div>
        <div class="form-group text-center">
          <a class="btn btn-primary  h-100" href="/signin" role="button">Se connecter</a>
        </div>
        <div class="form-group text-center">
          <a class="btn btn-primary  h-100" href="#" role="button">S'enregistrer</a>
        </div>

      </form>
    </div>
  </div>
</div>