<div class="container ">
        <div class="row align-self-center  justify-content-center   ">
      <div class='card card-primary w-100'>
    <div class='card-heading'>
       <h3> {{pageTitle}}</h3>
       <button id="create-entity" class="btn btn-primary float-right" [routerLink]="['/admin/ingredients/new']">
        <span class="fa fa-plus"></span>
        <span> Nouveau </span>
    </button>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filtrer (nom):</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtré par : {{listFilter}} </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='ingredients && ingredients.length'>
                <thead>
                    <tr>
                        <th>
                            <img *ngIf='showImage'
                                src='./assets/hideimage.png'
                                title='Hide images'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin' (click)='toggle()'>
                            <img *ngIf='!showImage'
                                src='./assets/showimage.png'
                                title='Show images'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin' (click)='toggle()'>                                
                                
                      
                        </th>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Groupe</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ingredient of filteredIngredients'>
                        <td>
                            <img [@fadeAnimation]="fadeDirection"
                            
                                [src]='ingredient.imageUrl'
                                [title]='ingredient.name'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{ingredient.id}}</td>
                        <td><a [routerLink]="['/admin/ingredients/view', ingredient.id]">
                                {{ ingredient.name }}
                            </a>
						</td>
                        <td>{{ ingredient.type.name }}</td>
                        <td><span *ngFor='let group of ingredient.groups'>
                            {{group.name}}<br>
                        </span></td>
                        <td><a [routerLink]="['/admin/ingredients/edit', ingredient.id]" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                            </a></td>
                          <td><button (click)="delete(ingredient.id)"  class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                            </button></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>
</div>
</div>
