<form (ngSubmit)="onSubmit()" #ingredientForm="ngForm">
<div class='container'>
  <div class='card card-primary shadow'>
    <div class='card-heading'>
      <h3> {{pageTitle}}</h3>
    </div>

    <div class='card-body border shadow'>

        <div class='row'>
          <div class='col-md-6'>
            <div class='row'>
              <div class='col-md-4'>Nom:</div>
              <div class='col-md-6'>
                <input type="text" class="form-control" id="name" required [(ngModel)]="ingredient.name" name="name">
              </div>
            </div>
            <div class='row'>
                <div class='col-md-4'>Url de l'image :</div>
                <div class='col-md-6'>
                  <input type="text" class="form-control" id="imageUrl" required [(ngModel)]="ingredient.imageUrl" name="imageUrl">
                </div>
              </div>            
            <div class='row'>
              <div class='col-md-4'>Type:</div>
              <div class='col-md-6'>

                  <select [(ngModel)]="ingredient.type" name="type">
                      <option *ngFor="let t of listTypes" [ngValue]="t">{{t.name}}</option>
                  </select>
            </div>
            </div>
            <div class='row'>
              <div class='col-md-4'>Groupes:</div>

              <div class='col-md-8'>

                  <select multiple name="selectedGroups" [(ngModel)]="ingredient.groups" style='overflow:hidden' size="5">
                      <option *ngFor="let g of listGroupes" [ngValue]="g">
                           {{ g.name }}
                      </option>
                </select> 
                  
              </div>
              
     
      </div>

      </div>

      <div class='col-md-6'>
        <img class='center-block img-responsive' [style.width.px]='200' [style.margin.px]='2' [src]='ingredient.imageUrl' [title]='ingredient.name'>
      </div>
      </div>

    </div>

    <div class='card-footer'>
      <button type="submit" [disabled]="ingredientForm.form.pristine || ingredientForm.form.invalid" class="btn btn-primary"><i class="far fa-save"></i> Ajouter</button>
      <button type="button" (click)="back()" class="btn"> <i class="fas fa-undo"></i> Retour</button>
    </div>
  </div>
</div>
</form>
url d'image pour démo : https://www.atelierdeschefs.com/media/recette-d2333-le-mojito-original.jpg