.welcomeTitle { 
    color:blue;   
}

.logo{
    width: 500px;    
}
.imglogo{
    opacity:1;
}

html{
    background-image: url('../assets/foodstorm-background.jpg')
}
.container {
    margin-top:5%;
    margin-bottom:5%;
    height:80%;
    margin-left:10%;
    margin-right:10%;
    width: 80%;

 }
 .card-heading {
    margin:12px;
 }