<div class="container d-flex h-100">
    <div class="row align-self-center  justify-content-center w-100 ">
        <div class="col col-4 mx-auto border rounded-top border-light bg-light">

            <div class="text-center">
                <span>
                    <h2>Menu</h2>
                </span>
            </div>

            <table class="table">
                <tr *ngFor='let ingredient of ingredients'>
                   <td>bla</td>
                   <td>{{ingredient.name}}</td>
                </tr>
            </table>

            <div class="text-center">
                <button type="submit" (click)="regenerateMenu()" class="btn green darken-1 white-text">Générer un nouveau menu</button>
            </div>


        </div>


    </div>

</div>