<div class="container d-flex h-100">
    <div class="row align-self-center  justify-content-center w-100 ">
            
        <div class="col col-4 mx-auto border rounded-top border-light bg-light">

                <img class="logo" height="150px" src="./assets/foodstorm-logo.png" title="{{pageTitle}}">
            <form [formGroup]="form">
                <div class="text-center mb-2">
                    <h3>Connexion</h3>
                </div>
                <div *ngIf=badAuth>
                    <span class="red-text">Votre identifiant ou votre mot de passe est incorecte !</span>
                </div>
                <div *ngIf=errorServeur>
                    <span class="red-text">Une erreur est survenue merci de réessayer ultérieurement</span>
                </div>
                <div class="form-inline">
                    <div class="mb-2">
                        <i class="fas fa-user-circle fa-2x" for="Login"></i>
                    </div>
                    <div class="mx-auto mb-2">
                        <input [(ngModel)]="login" formControlName="login" name="login" type="text" class="form-control" placeholder="Identifiant"
                            required>
                    </div>

                </div>
                <div class="form-inline">
                    <div class="mb-2">
                        <i class="fas fa-key fa-2x" for="Password"></i>
                    </div>
                    <div class="mx-auto mb-2">
                        <input [(ngModel)]="password" formControlName="password" name="password" type="password" class="form-control" placeholder="Mot de passe"
                            required>
                    </div>
                    <div class="mb-2">
                        <a routerLink="forgotPassword"> Mot de passe oublié ?</a>
                    </div>
                </div>
                <div class="form-group  text-center">
                    <button type="submit" (click)="connectionAttemp()" class="btn green darken-1 white-text" [disabled]="!form.valid">Valider</button>
                    <button type="button" (click)="reset()" class="btn">Annuler</button>

                </div>
            </form>
            <div class="col col-4 mx-auto mb-1">
                <a href='#'> S'enregistrer</a>
            </div>
        </div>


    </div>

</div>